<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>get CRUD</title>
        <!-- Latest compiled and minified CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet">

        <!-- Latest compiled JavaScript -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    </head>
    <style>
table {
  border-collapse: collapse;
  border: 2px solid black;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color: rgba(128, 128, 128, 0.621);}
</style>
    <body>
        <div class="container mt-5">
            <table class="table-bordered">
                <tr>
                    <th>email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>address</th>
                    <th>phone number</th>
                    <th>gender</th>
                    <th>role id</th>
                    <th>action</th>
                    <th>action</th>
                </tr>

                <% Data.forEach((item,index)=>{%>
                <tr>
                    <td><%=Data[index].email %></td>
                    <td><%=Data[index].firstName %></td>
                    <td><%=Data[index].lastName %></td>
                    <td><%=Data[index].address %></td>
                    <td><%=Data[index].phoneNumber %></td>
                    <td><%=Data[index].gender %></td>
                    <td><%=Data[index].roleId %></td>
                    <td><a href="/edit-crud?id=<%=Data[index].id%>"
                            class="btn btn-primary">Edit</a></td>
                    <td><a href="/delete-crud?id=<%=Data[index].id%>"
                            class="btn btn-danger">Delete</a></td>
                </tr>
                <% }) %>

            </table>
        </div>
    </body>
</html>